.auth-form{
    width: 400px;
    margin: 40px auto;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding: 0 15px;
}

h2.title{
    color: rgba(34, 34, 34, 1);
    display:inline-block;
    margin: 20px 0px;
}

.form-content form p input,
.form-content form button{
    width: 100%;
}

.form-content form p label{
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: rgba(34, 34, 34, 1);
    font-weight: 400;
}

.form-content form p input {
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    color: rgba(34, 34, 34, 1);
}

.form-content form p #id_remember{
    width:20px;
}

.form-content form button{
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 10px;
    background: #029acf;
    color: #fff;
    border: 1px solid #029acf;
    border-radius: 6px;
}

.form-content form button:hover{
    color:#029acf;
    background: #fff;
}

.form-content form a.secondaryAction{
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: rgba(34, 34, 34, 1);
    margin-top:5px;
    cursor:pointer;
    text-decoration: none;
}

.form-content form a.secondaryAction:hover{
    color:#029acf;
}

.login-signup{
    color: rgba(34, 34, 34, 1);
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.login-signup{
    padding: 30px;
    text-align: center;
}

.login-signup a{
    margin-left:3px;
    color:#029acf;
    font-weight: 700;
}

.login-signup a:hover{
    color:rgba(34, 34, 34, 1);
    text-decoration: none;
    cursor:pointer;
}
