{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">

    {% block css %}{% endblock css %}

    {% if not user.is_authenticated %}
    <style>
        header{
            border-bottom: 1px solid #c4c4c4;
        }
        .wrapper{
            padding-top:50px;
        }
    </style>
    {% endif %}

</head>

<body id="page-top">

<div class="content">
    <header class="navbar navbar-default navbar-fixed-top">
        <nav id="mainNav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">TheBridge</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li id="navbar-search"></li>
                            <li>
                                <a href="{% url 'organisation:create_organisation'%}" id="customer">create organisation <span class="glyphicon glyphicon-th"></span></a>
                            </li>
                            <li>
                                <div class="profile-dropdown">
                                    <a class="page-scroll" id="profile-tab" href="">
                                        <span>{{ user.first_name }}</span>
                                        <div>
                                            {% if user.profile.user_picture %}
                                                <img src="{{ user.profile.front_picture.url }}" width="28" height="28" />
                                            {% else %}
                                                <img src="{{ user.profile.default_image }}" width="28" height="28"/>
                                            {% endif %}
                                        </div>
                                    </a>
                                    <div class="profile-info">
                                        <div class="profile-info-inner">
                                            <a class="page-scroll" href="{% url 'profile:user' %}">Profile</a>
                                            <a class="page-scroll" href="{% url 'account_logout' %}">Log out</a>
                                        <div>
                                    </div>
                                </div>
                            </li> 
                        {% else %}
                            <li>
                                <a class="page-scroll" href="{% url 'account_signup' %}">Sign up</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{% url 'account_login' %}">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if user.is_authenticated %}
            <div class="secondary-navigation">
                <div class="container-fluid">
                    <div class="inner-wrapper">
                    <ul>
                        {% block secondaryNav %}
                            <li>
                                <a href="{% url 'customer:posts:dashboard' %}">Dashboard</a>
                            </li>
                            <li>
                                <a href="#">Requests</a>
                            </li>
                            <li>
                                <a href="{% url 'customer:organisations' %}">Organisations</a>
                            </li>
                        {% endblock secondaryNav %}
                    </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </header>

    {% block slider %}{% endblock slider %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="inner-wrapper bonus-padding">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
        
    <footer>
        <div class="container-fluid">
            <div class="inner-wrapper bonus-padding">
                <div class="footer-logo">
                    <a href="/">TheBridge</a>
                </div>
                <div class="links-social">
                    <div class="footer-links">
                        <ul>
                            <li>
                                <a href="">Contacts</a>
                            </li>
                            <li>
                                <a href="">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-media">
                        <a class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon btn-pinterest">
                            <span class="fa fa-pinterest"></span>
                        </a>
                        <a class="btn btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a class="btn btn-social-icon btn-instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a class="btn btn-social-icon btn-snapchat">
                            <span class="fa fa-snapchat"></span>
                        </a>
                        <a class="btn btn-social-icon btn-youtube">
                            <span class="fa fa-youtube"></span>
                        </a>
                        <a class="btn btn-social-icon btn-linkedin">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'js/requests.js' %}"></script>

<script src="{% static 'js/extraJSFuncs.js' %}"></script>

<!-- React -->
<script src="{% static 'bundles/local/vendors.js' %}"></script> 
<script src="{% static 'bundles/local/navbar.js' %}"></script>

{% block script %}{% endblock script %}

</body> 

</html>