{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %} Home {% endblock title %}

{% block css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet"> 
<link href="{% static 'css/organisations_list.css' %}" rel="stylesheet">
{% endblock css %}

{% block slider %}

<div id="slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active" style="background: url('{% static 'img/s1.jpg' %}') no-repeat center center; background-size:cover;">
        <!-- <img src="{% static 'img/s1.jpg' %}" alt="Chania" width="460" height="345"> -->
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item" style="background: url('{% static 'img/s2.jpg' %}') no-repeat center center; background-size:cover;">
        <div class="carousel-caption">
        </div>
      </div>
    
      <div class="item" style="background: url('{% static 'img/s3.jpg' %}') no-repeat center center; background-size:cover;">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item" style="background: url('{% static 'img/s4.jpg' %}') no-repeat center center; background-size:cover;">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item" style="background: url('{% static 'img/s5.jpg' %}') no-repeat center center; background-size:cover;">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item" style="background: url('{% static 'img/s6.jpg' %}') no-repeat center center; background-size:cover;">
        <div class="carousel-caption">
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock slider %}

{% block content %}
<div id="organisation_search"></div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/navbar-scroll.js' %}"></script>
<script src="{% static 'bundles/local/organisation_search.js' %}"></script>
{% endblock script %}