/* Style footer */
footer{
   background: #383838;
   min-height: 100px;
   width: 100%;
   padding:30px 0;
   position: absolute;
   bottom: 0;
   left: 0;
}
footer .footer-logo{
    text-align: center;
    width:30%;
    float:left;
}
footer .footer-logo a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
footer .links-social{
    width:70%;
    float:left;
}
footer .footer-links{
    width:100%;
    text-align: right;
}
footer .footer-links ul{
    padding:0;
    margin:0;
    width:100%;
}
footer .footer-links ul li{
    display: inline-block;
}
footer .footer-links ul li a{
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    padding:0 15px;
}
footer .footer-links ul li a:hover, 
footer .footer-links ul li a:active{
    color:#029acf;
    text-decoration: none;
    cursor:pointer;
}
footer .links-social .social-media{
    width:100%;
    text-align: right;
    margin-top:20px;
}

footer .links-social .social-media a{
    color:#fff;
    padding:0 15px !important;
    font-size:16px;
    padding:0;
}
footer .links-social .social-media a:hover,
footer .links-social .social-media a:active{
    color:#029acf;
}