/* Base.html css */
.content{
    min-height: 100%;
    position: relative;
}
.wrapper{
    padding-top:90px;
    padding-bottom:160px;
    width:100%;
}
.inner-wrapper{
    width:1210px;
    margin:0 auto;
}
.bonus-padding{
    padding: 0 15px !important; 
}
a, a:hover, a:active, a:visited{
    text-decoration: none ;
}