header{
    border:0 !important;
}
.organisation .org-cover-photo{
    height:280px;
    width:100%;
    
}
.organisation .org-cover-photo .gradient-bottom{
    width:100%;
    height:100%;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.05), transparent, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.05), transparent, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.05), transparent, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.05), transparent, transparent); 
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.organisation .organisation-content .rating-col{
    width:180px;
    margin: 0 20px;
    float:left;
    text-align:center;
}
.organisation .organisation-content .rating-col .org-rating{
    margin-top:20px;
    display:inline-block;
    text-align:left;
}
.organisation .organisation-content .rating-col .org-profile-photo{
    margin-top:-120px;
    border:4px solid #fff;
    border-radius: 4px;
}
.organisation .organisation-content .info-col{
    float:left;
    margin:0 20px;
}
.organisation .organisation-content .info-col .org-contacts{
    background: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top:20px;
    width:320px;
}
.organisation .organisation-content .info-col .org-contacts span{
    color: #383838;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    font-size: 15px;
    display:block;
    margin-bottom: 7px;
}
.organisation .organisation-content .info-col .org-contacts span:last-of-type{
    margin-bottom: 0 !important;
}
.organisation .organisation-content .info-col .org-contacts .unbreakable{
   white-space: nowrap; 
}
.organisation .organisation-content .info-col .org-contacts span i{
    font-size: 14px;
    width: 20px;
    color:#029acf;
}
.organisation .organisation-content .info-col .org-contacts span a{
    color: #383838;
}
.organisation .organisation-content .info-col .org-contacts span a:hover{
    color:#029acf;
    text-decoration: none;
    cursor:pointer;
}
.organisation .organisation-content .info-col .org-contacts .category{
    font-size:17px;
    font-weight: 400;
    margin-bottom:10px;
}
.organisation .organisation-content .main-col{
    float:left;
    margin: 0 20px;
    width:600px;
}
.organisation .organisation-content .main-col h3{
    color: #383838;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
}
.organisation .organisation-content .main-col .description{
    color: #383838;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 20px 0;
}