/* Style for the organisation list */
.organisation-list{
    text-align:center;
}
#adv-search{
    margin:30px auto 20px auto;
}
.search-input{
    width:450px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    color: #383838;
    text-align: center;
    float:left;
    outline:none;
}
.search-filter-button{
    padding: 5px 12px;
    background:#029acf;
    font-size:25px;
    color:#fff;
    border: 1px solid #029acf;
    border-radius: 4px;
    outline:none;
}
.filters-menu{
    display: none;
    padding-top:20px;
}
.left-filter-group{
    float:left;
    text-align:center;
}
.group-rating label{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838; 
}
.group-rating input{
    width:50px;
    margin:0 10px;
    border:1px solid #c4c4c4;
    border-radius: 4px;
    outline:0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding:0 3px;
}
.right-filter-group{
    display:inline-block;
    text-align: center;
}
.right-filter-group .group-dropdown{
    display:inline-block;
    margin:0 5px;
}
.group-dropdown label{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #383838; 
}

.group-dropdown select{
    margin-bottom: 10px;
    outline:0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    width:150px;
    background:#fff;
    border:1px solid #c4c4c4;
}
.organisation-link{
    display:inline-block;
    margin: 10px 5px;
}
.org-box{
    width: 300px;
    background:#029acf;
    text-align: center;
    border-radius: 4px;
}
.org-box .org-box-title{
    display:block;
    font-size: 24px;
    font-weight: 400;
    line-height:40px;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.rating-org{
  background: #FFA91B;
  color:#fff;
  display:inline-block;
  border-radius:25px;
  padding:0 7px;
  margin-bottom:15px;
}
.rating-org span{
  vertical-align:middle;
}
.rating-org .ratingNum{
  font-size:16px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin-right:4px;
}
.rating-org .ratingStar{
  font-size: 14px !important;
}
.org-box .org-box-category{
    display:block;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.org-box .org-box-locations{
    display:block;
    font-weight: 100;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.org-box .gradient-background{
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    padding:20px;
    border-radius: 4px;
}
.organisation-link:hover .gradient-background{
    background: rgba(0, 0, 0, 0.3);
    
}
.organisation-link:hover{
    text-decoration: none;
}
.organisation-link:active{
    text-decoration: none;
}