.bookmark-list{
    padding:0;
}
.bookmark-list li{
    list-style: none;
}
.bookmark-container{
    width:100%;
    display: inline-block;
}
.bookmark-container .gradient-background{
    background: rgba(0, 0, 0, 0.3);
    height:80px;
    padding:10px;
}
.bookmark-container .org-profile-photo{
    border:2px solid #fff;
    border-radius: 4px;
    margin-right: 15px;
    float:left;
}
.ratingMain{
  background: #FFA91B;
  color:#fff;
  display:inline-block;
  border-radius:25px;
  padding:0 5px;
  margin-top:5px;
}
.ratingMain span{
  vertical-align:middle;
}
.ratingMain .ratingNum{
  font-size:15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin-right:3px;
}
.ratingMain .ratingStar{
  font-size: 12px !important;
}
.bookmark-container .bookmark-title{
    display:block;
    color:#fff;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.bookmark-container .bookmark-cat{
    color:#fff;
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}