.bookmark-list{
    padding:0;
}
.bookmark-list li{
    list-style: none;
}
.bookmark-container{
    width: 500px;
    position:relative;
    height: 160px;
    margin: 20px 0;
    border:1px solid #fff;
}
.bookmark-container .gradient-background{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    height:158px;
}
.bookmark-container .org-profile-photo{
    border:4px solid #fff;
    border-radius: 4px;
    margin-right: 10px;
    float:left;
}
.ratingMain{
  background: #FFA91B;
  color:#fff;
  display:inline-block;
  border-radius:25px;
  padding:0 7px;
  margin-top:10px;
}
.ratingMain span{
  vertical-align:middle;
}
.ratingMain .ratingNum{
  font-size:18px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin-right:5px;
}
.ratingMain .ratingStar{
  font-size: 15px !important;
}
.bookmark-container .bookmark-title{
    display:block;
    color:#fff;
    margin-top:10px;
    font-size: 18px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.bookmark-container .bookmark-cat{
    color:#fff;
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}