.studio-info{
    width:200px;
    float:left;
}
.organisationChooseBox{
    display:inline-block;
    position:relative;
    width:150px;
    text-align:right;
}
.organisationDisplay{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #029acf;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    outline: none;
    display:inline-block;
    padding:4px 8px 4px 22px;
    background: url('../img/caret-down.png') no-repeat 4px center #fff;
    background-size: 12px 14px;
    width:100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.organisationOptions{
    display:none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background:#fff;
    width:100%;
    text-align: center;
}
.organisationOptions button{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #029acf;
    background:#fff;
    border:none;
    border-bottom:1px solid #c4c4c4;
    outline:none;
    padding:4px 8px;
    width:100%;
    text-align:center;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.organisationOptions a:last-of-type button{
    border-bottom:0;
}
.organisationOptions button:hover{
    background: #029acf;
    color: #fff;
}
.bonus-text-all-requests{
    background:#c4c4c4;
    width:100%;
    color:#fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    padding:5px 10px;
    margin-top:10px;
}
.all-requests{
    width:200px;
    text-align:right;
    padding:0;
    list-style: none;
}
.requestDisplay{
    display:block;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #383838;
    background:#fff;
    border:none;
    border:1px solid #c4c4c4;
    border-bottom:0;
    outline:none;
    width:100%;
    min-height:64px;
    text-align:left;
}
.requestDisplay:hover .requestButton{
    text-decoration: underline;
    color:#2A2A2A;
}
.requestDisplay:last-of-type{
    border-bottom:1px solid #c4c4c4;
}
.requestDisplay button{
    font-size:22px;
    background:transparent;
    border:0;
    float:left;
    padding:16px 0;
    outline:0;
}
.requestDisplay .approve{
    margin-left:15px;
    color:#5cb860;
}
.requestDisplay .reject{
    margin-left:10px;
    color:#e15258;
}
.requestButton{
    padding:16px 0 16px 16px;
    float:left;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.requestButton span{
  color:#2A2A2A !important;
}
.requestButton img{
  border-radius:50%;
  margin-right: 10px;
}
.active-request{
    background:transparent;
    font-weight: 700;
}
.studio-main{
    float:left;
    width:980px;
    background:#fff;
}
