.studio-info{
    width:250px;
    float:left;
}
.organisationChooseBox{
    display:inline-block;
    position:relative;
    width:150px;
    text-align:right;
}
.organisationDisplay{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #029acf;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    outline: none;
    display:inline-block;
    padding:4px 8px 4px 22px;
    background: url('../img/caret-down.png') no-repeat 4px center #fff;
    background-size: 12px 14px;
    width:100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.organisationOptions{
    display:none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background:#fff;
    width:100%;
    text-align: center;
}
.organisationOptions button{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #029acf;
    background:#fff;
    border:none;
    border-bottom:1px solid #c4c4c4;
    outline:none;
    padding:4px 8px;
    width:100%;
    text-align:center;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.organisationOptions a:last-of-type button{
    border-bottom:0;
}
.organisationOptions button:hover{
    background: #029acf;
    color: #fff;
}
.link-to-organisation{
    font-size:18px;
    margin-left:15px;
    color:#029acf;
    vertical-align:middle;
}
.bonus-text-all-requests{
    background:#c4c4c4;
    width:100%;
    color:#fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    padding:5px 10px;
}
.all-requests{
    width:200px;
    text-align:right;
    padding:0;
    list-style: none;
}
.requestDisplay{
    border-bottom: 2px solid #fff;
}
.requestButton-pending{
    display:inline-block !important;
}
.requestButton-relation{
    width:100% !important;
}
.requestDisplay:hover .requestButton{
    text-decoration: underline;
    color:#2A2A2A;
}
.requestDisplay:last-of-type{
    border-bottom:0;
}
.requestDisplay button{
    font-size:22px;
    background:transparent;
    border:0;
    outline:0;
}
.requestDisplay .approve{
    color:#5cb860;
    padding:0 !important;
    margin-left:7px;
}
.requestDisplay .reject{
    color:#e15258;
    padding:0 !important;
    margin-left:7px;
}
.requestButton{
    width:125px;
    padding:15px 0 15px 15px;
    float:left;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.requestButton span{
  color:#2A2A2A !important;
}
.requestButton img{
  border-radius:50%;
  margin-right: 10px;
}
.empty-requests-list{
    border:1px solid #c4c4c4;
    color:#c4c4c4;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align:center;
    padding:10px 0;
}
.active-request span{
    color:#029acf !important;
}
.studio-main{
    float:left;
    width:930px;
    background:#fff;
}
#requests_user{
    padding-top:20px;
}
.bookmark-list{
    padding:0;
}
.bookmark-list li{
    list-style: none;
}
.bookmark-container{
    width:100%;
    display: inline-block;
}
.bookmark-container .gradient-background{
    background: rgba(0, 0, 0, 0.3);
    height:80px;
    padding:10px;
}
.bookmark-container .org-profile-photo{
    border:2px solid #fff;
    border-radius: 4px;
    margin-right: 15px;
    float:left;
}
.ratingMain{
  background: #FFA91B;
  color:#fff;
  display:inline-block;
  border-radius:25px;
  padding:0 5px;
  margin-top:5px;
}
.ratingMain span{
  vertical-align:middle;
}
.ratingMain .ratingNum{
  font-size:15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin-right:3px;
}
.ratingMain .ratingStar{
  font-size: 12px !important;
}
.bookmark-container .bookmark-title{
    display:block;
    color:#fff;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.bookmark-container .bookmark-cat{
    color:#fff;
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}
.bookmark-container:hover .bookmark-title{
    color:#029acf;
    text-align: none;
}
.bookmark-container:active .bookmark-title{
    color:#029acf;
    text-align: none;
}
.pending-title-box{
    float:left;
    padding-top:15px;
}
.pending-title{
    display:inline-block !important;
    width:100px;
}
.yes-no-box{
    display:inline-block;
}