{% extends 'customer/organisation_details_base.html' %}

{% block left-most-col %}
<a href="{% url 'customer:organisation_details_reviews' pk=org.id %}" class="org-rating">
    <div class="ratingMain"><span class="ratingNum">{{org.rating}}</span><span class="glyphicon glyphicon-star ratingStar" aria-hidden="true"></span></div>
    <!-- <div class="reviewsCount">{{review_count}} review{{review_count|pluralize}}</div> -->
</a>
{% endblock left-most-col %}

{% block main-col %}
<div id="posts_organisation"></div>
{% endblock main-col %}