{% extends 'customer/base.html' %}

{% load static from staticfiles %}
{% block title %} {{org.title}} {% endblock title %}

{% block css %}
<link href="{% static 'css/organisation_profile.css' %}" rel="stylesheet">
<link href="{% static 'css/react-star-rating/react-star-rating.css' %}" rel="stylesheet">
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet"> 
{% endblock css %}

{% block content %}

<div class="organisation">
    <div class="org-cover-photo">
        <!-- render cover photo if exists --> 
        {% if org.cover_picture %}
            <div style='background: url("{{org.cover_picture.url}}") no-repeat center center; background-size:cover; width:100%; height:100%; '>
                <div class="gradient-bottom"></div>
            </div>
        {% else %}
            <div style="background: #1082A9; width:100%; height:100% ">
                <div class="gradient-bottom"></div>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            {% if request_state == 0 %}
            <form action="" method="POST" id="request_form">
                {% csrf_token %}
                <input type="hidden" value="{{org.id}}" name="hidden_org_id"/>
                <input type="submit" value="Send request" name="request_organisation" id="request_organisation"/>
            </form>
            {% elif request_state == 1 %}
            <button>Pending request</button>
            {% elif request_state == 2 %}
            <button>You are in relation!</button>
            {% elif request_state == -1 %}
            {% endif %}
        {% endif %}
    </div>
    <div class="organisation-content">
        <div class="rating-col">
            {% if org.front_picture %}
                <img class="org-profile-photo" width="180" height="180" src="{{org.front_picture.url}}"/>
            {% else %}
                <img class="org-profile-photo" width="180" height="180" src="{{org.default_image}}"/>
            {% endif %}
            {% block left-most-col %}
            {% endblock left-most-col %}
        </div>
        <div class="main-col">
            <h3>{{org.title}}</h3>
            <div class="description">{{org.description}}</div>
            {% block main-col %}
            {% endblock main-col %}
        </div>
        <div class="info-col">
            <div class="org-contacts">
                <span class="category">{{org.category}}</span>
                <span>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{org.locations}}
                </span>
                <span class="unbreakable">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    {{org.phone_number}}
                </span>
                <span class="unbreakable">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:{{org.email_organisation}}" target="_top">
                            {{org.email_organisation}}
                        </a>
                </span>
                <span class="unbreakable">
                    <i class="fa fa-link" aria-hidden="true"></i>
                    <a href="{{org.website}}" target="_blank">
                            {{org.website}}
                        </a>
                </span>
            </div>
            {% if owner %}
            <a href="{% url 'organisation:my_organisation_edit' pk=org.pk %}">Edit organisation</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
<script src="{% static 'bundles/local/posts_organisation.js' %}"></script>
<script src="{% static 'bundles/local/review_organisation.js' %}"></script>
{% endblock script %}