{% extends 'customer/organisation_details_base.html' %}

{% block left-most-col %}
<a href="{% url 'customer:organisation_details_reviews' pk=org.id %}" class="org-rating">
    <div class="ratingMain"><p><span>{{rating}}</span><span> </span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p></div>
    <div class="reviewsCount">{{review_count}} review{{review_count|pluralize}}</div>
</a>
{% endblock left-most-col %}

{% block main-col %}
<div id="posts_organisation"></div>
{% endblock main-col %}