/* Base.html css */
.content{
    min-height: 100%;
    position: relative;
}
.wrapper{
    padding-top:90px;
    padding-bottom:124px;
    width:100%;
}
.bonus-padding{
    padding: 0 30px !important;
}