{% extends 'base.html' %}

{% block roledropdown %}
<!-- when in supplier show this -->
<!--<div class="role-dropdown">
    <div class="curr-role">
        <a href="{% url 'developer:home' %}" id="developer">developer<span class="glyphicon glyphicon-th"></span></a>
    </div>
    <div class="other">
        <div class="other-inner">
            <a href="{% url 'customer:posts:dashboard' %}" id="customer">customer</a>
        </div>
    </div>
</div>-->
{% endblock roledropdown %}

{% block secondaryNav %}
<!--<li>
    <a href="{% url 'developer:home' %}">Dashboard</a>
</li>
<li>
    <a href="{% url 'developer:requests' %}">Requests</a>
</li>
<li>
    <a href="{% url 'developer:my_organisations' %}">My organisations</a>
</li>-->
{% endblock secondaryNav %}