{% extends 'developer/base.html' %}

{% block title %} Developer - request from customers {% endblock title %}

{% block content %}
<ul>
{% for friendship_request in requests %}
    <li>{{ friendship_request.user }} to {{ friendship_request.organisation }}</li>
    <form method="POST" action="" class="accept_form">
        {% csrf_token %}
        <input type=hidden value="{{friendship_request.id}}" name="customer_request"/>
        <input type=hidden value="{{friendship_request.to_user.id}}" name="organisation_response"/>
        <input type="submit" value="accept" />
    </form>
{% empty %}
</ul>
<div>no requests :(</div>
{% endfor %}
{% endblock content %}