{% extends 'allauth_user/signup-login.html' %}

{% block title %}Log in{% endblock %}

{% block formtitle %}Log in{% endblock formtitle %}

{% block form %}
<form method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <input type="submit" class="submit" value="Log in"/>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot your password?</a>
</form>
{% endblock form %}

{% block link %} 
Don't have an account? 
<a href="{{ signup_url }}">Sign up</a>
{% endblock link %} 