{% extends 'allauth_user/signup-login.html' %}

{% block title %} Sign up {% endblock title %}

{% block formtitle %} Sign up {% endblock formtitle %}

{% block form %}
<form id="signup_form" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <input type="submit" class="submit" value="Sign up"/>
</form>
{% endblock form %}

{% block link %} 
Have an account? 
<a href="{{ login_url }}">Log in</a>
{% endblock link %} 
