{% extends 'allauth_user/base.html' %}
{% load static from staticfiles %}

{% block css %}<link href="{% static 'css/allauth/signup-login.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="auth-form">
<h2 class="title">{% block formtitle %}{% endblock formtitle %}</h2>
<div class="form-content">
    {% block form %}
    {% endblock form %}
</div>
<div class="login-signup">
    <span>
        {% block link %}{% endblock link %} 
    </span>
</div>
</div>
{% endblock content %}