cffi==1.7.0
cryptography==1.4
defusedxml==0.4.1
Django==1.8.13
django-allauth==0.25.2
django-appconf==1.0.2
django-friendship==1.3.3
django-imagekit==3.3
django-webpack-loader==0.3.3
djangorestframework==3.3.3
Fabric==1.10.2
idna==2.1
oauthlib==1.1.2
paramiko==2.0.2
pilkit==1.1.13
Pillow==3.3.0
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0