{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %} Create organisation {% endblock title %}

{% block css %}<link href="{% static 'css/forms/form-style.css' %}" rel="stylesheet">{% endblock css %}

{% block content%}

<div class="form-organisation">
    <h2 class="title">Create organisation</h2>
    <div class="form-content-org">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- you can print the form in the following ways as well: form.as_table, form.as_ul-->
            <div class="half-col">
                <div class="form-input">
                    <span>Title</span>
                    {{ form.title }}
                </div>
                <div class="form-input">
                    <span>Description</span>
                    {{ form.description }}
                </div>
                <div class="form-input">
                    <span>Locations</span>
                    {{ form.locations }}
                </div>
            </div>
            <div class="half-col">
                <div class="form-input">
                    <span>Category</span>
                    {{ form.category }}
                </div>
                <div class="form-input">
                    <span>Organisation's email</span>
                    {{ form.email_organisation }}
                </div>
                <div class="form-input">
                    <span>Organisation's phone number</span>
                    {{ form.phone_number }}
                </div>
                <div class="form-input">
                    <span>Website</span>
                    {{ form.website }}
                </div>
            </div>
            <input type="submit" class="submit" value="Save"/>
        </form>
    </div>
</div>
{% endblock content%}