{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}

{% block title %} Studio {% endblock title %}

{% block css %}
<link href="{% static 'css/studio-requests-layout.css' %}" rel="stylesheet">
{% endblock css %}

{% block content%}

{% if have_organisations %}
<div id="studio_organisation"></div>
{% else %}
<h1>No organisations</h1>
{% endif %}
{% endblock content%}

{% block script %}
<script>
// pass a global variable with the organisation id to the React components
 var organisationId = '{{ pk }}';
</script>
{% render_bundle 'studio_organisation' %}
{% endblock script %}