{% extends 'base.html' %}

{% block title %} Organisation - request from customers {% endblock title %}

{% block content %}
<ul>
{% for request in org_requests %}
    <li>Request from {{ request.user.first_name }} {{ request.user.last_name }} to organisation {{ request.organisation.title }}</li>
    <form method="POST" action="" class="accept_form">
        {% csrf_token %}
        <input type=hidden value="{{request.id}}" name="customer_request"/>
        <input type="submit" value="accept" name="accept_request" class="accept_request"/>
    </form>
{% empty %}
</ul>
<div>no requests :(</div>
{% endfor %}
{% endblock content %}